
#input{
    margin-top: 500px;
    background-color: black;
    color: white;
    width: 500px;
}
#updatebtn{
    background-color: green;
}
#cancelbtn{
    background-color: red;
}
#label{
    display:flex;
    flex-direction: column;
    float: none;
    justify-content: space-between;

}
#import{
    color: white;
    width: 300px;
}