.my-sales-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.sales-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sales-header h1 {
  margin: 0;
  font-size: 2rem;
}

.sales-header input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.orders-container h2,
.abandoned-carts-container h2,
.customers-container h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-item {
  background-color: #f0f8ff;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

.dashboard-item:last-child {
  margin-right: 0;
}

.filter-search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-section {
  display: flex;
  align-items: center;
}

.filter-section label {
  margin-right: 10px;
}

.filter-section input,
.filter-section select {
  margin: 0 5px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.abandoned-cart-detail {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
