/* Styles for the banner container */
#slider{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    object-fit: fill;
    background-color: aqua;
    
}
#image{
    object-fit: fill;
    height: 500px;
    width: 100%;
}
#prevbtn{
    background-color: rgb(0, 0, 0) ;
    padding: 20px;
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
}
#nextbtn{
    background-color: rgb(0, 0, 0) ;
    padding: 20px;
    border-top-left-radius:  5px;
    border-bottom-left-radius: 5px;
}