
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

#header{
    
    color: #FFFFFB;
    background-color: #5b5f97;
    font-family: "Alata", serif;
    font-style: italic;
}
#showcasecard{
    background-size: 100%;
    font-family: "Alata", serif;
    font-style: normal;
    background-color: #dfd6d4;
    padding: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
#home{
    
    margin-top: 40px;
    width: 100%;
    position: relative;
    z-index: 1;
    color: wheat;
    background: transparent;
    font-family: "Alata", serif;
    font-style: normal;
}
#text{
    color:white
}
#card{
    margin: 10px;
    color: white;
    text-decoration: dotted;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    justify-items: center;
    justify-content: center;
    transition: all;
    background-attachment: fixed;
    background-color: #000;
    box-shadow: 2px 2px 5px black;
}
#Cardtext{
    color: white;
    opacity: 1;
}
#home{
    background-image: url('./images/rb_6729.png'); 
    background-size: 30cap;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}
/* From Uiverse.io by Dennyhml */ 
.bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
  }
  
  .bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
  }
  
  .bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
  }
  
  .bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
  }
  
  .bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
  }
  
  @keyframes animate_4010 {
    0%,100% {
      transform: translateY(-20px);
    }
  
    50% {
      transform: translateY(20px);
    }
  }
  
  .bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
  }
  
  .bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
  }
  
  .bubble span {
    position: absolute;
    border-radius: 50%;
  }
  
  .bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
  }
  
  .bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
  }